{
  "extends": ["prettier"],
  "plugins": ["react", "prettier"],
  "parser": "@babel/eslint-parser",
  "settings": {
    "version": "detect"
  },
  "rules": {
    "no-console": "error",
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
