@import "~styles/variables";

.coin-page {
  display: flex;
  min-width: 365px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  gap: 20px;

  &__chart-section {
    width: 100%;
  }

  &__chart-box {
    width: 100%;

    & canvas {
      width: 100%;
    }
  }

  &__card {
    margin: 0 20px;
  }

  &__tab-bar {
    width: 100%;
    margin-bottom: 10px;
  }
}

.coin-page__header {
  position: relative;
  width: 100%;
  align-self: flex-start;

  &__dropdown-currency {
    position: absolute;
    top: 35px;
    right: 0;
    width: 120px;
  }

  &__price-info {
    &__price {
      margin-right: 12px;
      font-size: 24px;
    }

    &__price-change {
      font-size: 16px;
    }
  }
}

.dropdownCurrency {
  position: absolute;
  z-index: 2;
  width: 150px;
  transform: translateY(-15px);
}

.dark {
  & span,
  h1 {
    color: $dark-primary-text-color;
  }

  & .symbol {
    color: $dark-secondary-text-color;
  }
}

.light {
  & span {
    color: $black-color;
  }

  & .symbol {
    color: $gray-color;
  }
}

.loaderWrapper {
  height: 600px;
}
