@import "~styles/variables";

.coin-page {
  display: flex;
  min-width: 365px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  gap: 20px;

  &__chart-section {
    width: 100%;
  }

  &__chart-box {
    width: 100%;

    & canvas {
      width: 100%;
    }
  }

  &__card {
    margin: 0 20px;
  }

  &__tab-bar {
    width: 100%;
    margin-bottom: 10px;
  }
}

.coin-page__header {
  position: relative;
  width: 100%;
  align-self: flex-start;

  &__dropdown-currency {
    position: absolute;
    top: 35px;
    right: 0;
    width: 120px;
  }

  &__name-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__name {
      display: inline-block;
      margin-right: 4px;
      margin-left: 8px;
      font-size: 16px;
    }

    &__symbol {
      display: inline-block;
      font-size: 10px;
    }
  }

  &__button {
    width: 5px;
    height: 10px;
    padding: 5px;
    margin-right: 10px;
    background-image: url("~images/prevPage.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__price-info {
    &__price {
      margin-right: 12px;
      font-size: 24px;
    }

    &__price-change {
      font-size: 16px;
    }
  }

  &__img {
    width: 24px;
    height: 24px;
  }

  &__rank {
    padding: 0.2em 0.4em;
    margin-left: 5px;
    background-color: $black-color;
    border-radius: 5px;
    color: white;
    font-size: 12px;
  }
}

.coin-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $border-color;

  &__title {
    color: $gray-color;
  }
}

.header__tooltip {
  margin-left: 5px;
}

.active {
  color: red;
}
