@import "~styles/variables";

.logo {
  align-self: center;
  cursor: pointer;
  font-size: 1.7rem;
  justify-self: center;
}

.dark {
  color: $dark-primary-text-color;
}

.ligth {
  color: $black-color;
}
