.cross {
  width: 15px;
  height: 15px;
  padding: 5px;
  margin-right: 45px;
  background-image: url("../../../images/Cross.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.burger {
  position: fixed;
  z-index: 50;
  display: flex;
  width: 300px;
  height: 100vh;
  flex-direction: column;
  background-color: white;

  &__blur {
    position: absolute;
    left: 300px;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(1.5px);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    padding-bottom: 5px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }

  &__item {
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__icon {
    display: inline-block;
    width: 25px;
    height: 15px;
    padding: 10px 5px;
    margin-right: 15px;
    background-image: url("~images/Burger-menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.logo {
  width: 150px;
  justify-self: center;
}
