@import "~../../../styles/variables.scss";
$burger-width: 20px;

.btn {
  width: $burger-width;
  z-index: 101;
  height: 20px;
  position: relative;
  cursor: pointer;
  & span {
    transition: all 0.3s ease-in-out;
  }
}

.top {
  position: absolute;
  top: 0;
  width: $burger-width;
  background-color: black;
  height: 2px;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: $burger-width;
  background-color: black;
  height: 2px;
}
.middle {
  position: absolute;
  bottom: 9px;
  width: $burger-width;
  background-color: black;
  height: 2px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 100;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 29%;
  backdrop-filter: blur(2px);
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  padding: 1rem 1rem;
  gap: 5px;
  transition: right 0.5s ease;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: $black-color;
}

.menuActive {
  right: 0;
}

.btnActive {
  &.top {
    transform: rotate(-45deg);
    margin-top: 7px;
  }
  &.bottom {
    opacity: 0;
    transform: rotate(45deg);
  }
  &.middle {
    transform: rotate(45deg);
    margin-bottom: 2px;
  }
}
