@font-face {
  font-family: "Circular Std";
  font-weight: 500;
  src: url("../fonts/CircularStdMedium.woff") format("woff");
}

@font-face {
  font-family: "Circular Std";
  font-weight: 700;
  src: url("../fonts/CircularStdBold.woff") format("woff");
}

@font-face {
  font-family: "Circular Std";
  font-weight: 900;
  src: url("../fonts/CircularStdBlack.woff") format("woff");
}
