* {
  font-family: "Circular Std Medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 1rem;
}
