@import "./fonts";

$green-color: #21bf73;
$red-color: #d90429;
$black-color: #212529;
$gray-color: #6c757d;
$blue-color: #39f;
$border-color: #dfe2e4;
$spacer: 20px;

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: $spacer * 0.25;
}
.mb-2 {
  margin-bottom: $spacer * 0.5;
}

.mb-3 {
  margin-bottom: $spacer;
}

.margin-auto {
  margin: auto;
}

.ml-1 {
  margin-left: $spacer * 0.25;
}

.success {
  color: $green-color;
}

.danger {
  color: $red-color;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-none {
  display: none;
}
.display-inline-block {
  display: inline-block;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.font-size-20 {
  font-size: 20px;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.top-50 {
  top: 50%;
}
.bot-50 {
  bottom: 50%;
}
.left-50 {
  left: 50%;
}
.right-50 {
  right: 50%;
}

.page-title {
  font-size: 20px;
}

.page-subtitle {
  color: $gray-color;
  font-size: 12px;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
.word-wrap-bw {
  word-wrap: break-word;
}
