@import "./fonts";

$green-color: #21bf73;
$red-color: #d90429;
$black-color: #212529;
$gray-color: #6c757d;
$blue-color: #39f;
$border-color: #dfe2e4;
$spacer: 20px;
$header-height: 50px;

.success {
  color: $green-color;
}

.danger {
  color: $red-color;
}

.title {
  font-size: 20px;
}

.subtitle {
  color: $gray-color;
  font-size: 12px;
}
