@import "~styles/variables";

.header {
  min-width: 320px;
  height: $header-height;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.nav {
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: space-around;
}

.active {
  position: relative;

  &::after {
    position: absolute;
    z-index: 1;
    top: 33px;
    left: 0;
    display: inline-block;
    width: 100%;
    content: "";
  }
}

.link {
  text-decoration: none;
}

.dark {
  .link {
    color: $white-color;
  }

  .active {
    color: $purple-color;

    &::after {
      border-bottom: 2px solid $purple-color;
    }
  }

  border-bottom: 1px solid $dark-border-color;
}

.ligth {
  .link {
    color: $black-color;
  }

  .active {
    color: $blue-color;

    &::after {
      border-bottom: 2px solid $blue-color;
    }
  }

  border-bottom: 1px solid $border-color;
}
