@import "~./../../../styles/variables";

.header {
  min-width: 320px;
  height: $header-height;
  border-bottom: 1px solid $border-color;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.nav {
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: space-around;
}

.active {
  position: relative;
  color: $blue-color;

  &::after {
    position: absolute;
    z-index: 1;
    top: 33px;
    left: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid $blue-color;
    content: "";
  }
}

.link {
  color: $black-color;
  text-decoration: none;
}
