@import "~./../../../styles/variables.scss";
.header {
  min-width: 320px;
  height: $header-height;
  border-bottom: 1px solid $border-color;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.active {
  color: $blue-color;
  position: relative;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 2px solid $blue-color;
  }
}
.link {
  color: $black-color;
  text-decoration: none;
}
