@import "@styles/variables.scss";

.search {
    display: inline-flex;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    padding: 12px;
    font-size: 12px;
    line-height: 15px;
    width: 244px;
    color: $gray-color;
    margin-right: 15px;

    &__icon {
      width: 16px;
      height: 15px;
      margin-right: 10px;
      order: -1;
    }
    
    &__field {
  
      border: 0; 
    }
    
    &__field:focus {
      outline: none;
    }
  }