@import "styles/variables";

.wrapper {
  width: 100%;
}

.search {
  display: inline-flex;
  min-width: 200px;
  max-width: 265px;
  padding: 12px;
  margin-right: 15px;
  border-radius: 4px;

  &__icon {
    width: 16px;
    height: 15px;
    order: -1;
    margin-right: 10px;
  }

  &__field {
    border: 0;
    color: $gray-color;
    font-family: "Circular Std", sans-serif;
    font-size: 12px;
    line-height: 15px;
  }

  &__field:focus {
    outline: none;
  }
}

.light {
  border: 1px solid $border-color;
}

.dark {
  border: 1px solid $dark-border-color;

  input {
    background-color: $dark-background-color;
    color: $dark-secondary-text-color;
  }
}
