@import "~styles/variables.scss";

.tooltip {
  display: inline-block;
  position: relative;
  &__icon {
    width: 15px;
    height: 15px;
    margin: auto;
    vertical-align: middle;
  }
  &__content {
    z-index: 50;
    font-size: 14px;
    color: $gray-color;
    width: max-content;
    max-width: 200px;
    border: 1px solid $gray-color;
    border-radius: 5px;
    background-color: white;
    padding: 1em 1em 01em;
    position: absolute;
    transform: translateX(-50%);
    left: 100%;
  }
  &-top {
    bottom: calc(100% + 5px);
  }
  &-bot {
    top: calc(100% + 5px);
  }
  &__content > div,
  p,
  span,
  a {
    margin-bottom: 1em;
  }
}
