@import "@styles/variables.scss";

.button{
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 12px;
    line-height: 15px;
    color: $black-color;
    cursor: pointer;
  };