@import '../../../../style/variables.scss';

.card {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 343px;
    height: 72px;
    padding: 0px 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    &:hover {
        background: gray;
    
    
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    }
    
    &__img-box {
        display: flex;
        height: 80%;
        margin-right: 12px;
    }
    
    &__img {
        align-self: center;
        object-fit: cover;
        width: 40px;
        height: 40px;
    
    }
    
    &__title {
        margin: 0;
        padding: 0;
    }
    
    &__subtitle {
        margin: 0;
        padding: 0;
    }
    
    &__content {
        justify-self: end;
    }    

}


.success{
    color: $green-color;
}

.danger {
    color: $red-color;
}