.card {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    max-width: 343px;
    height: 72px;

    padding: 0px 16px;

    background: #FFFFFF;


    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    border-radius: 8px;

}

.card:hover {
    background: gray;


    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}

.card__img-box {
    display: flex;
    height: 80%;
    margin-right: 12px;
}

.card__img {
    align-self: center;
    object-fit: cover;
    width: 40px;
    height: 40px;

}

.card__title {
    margin: 0;
    padding: 0;
}

.card__subtitle {
    margin: 0;
    padding: 0;
}

.card__content {
    justify-self: end;
}