@import "~styles/variables";

$blue-color: rgb(0 99 245 / 100%);

.tab {
  display: flex;
  justify-content: space-between;

  &__item {
    padding: 6px 10px;
    border: 0.5px solid #dfe2e4;
    background: #f8f9fa;
    border-radius: 20px;
    color: $gray-color;
    cursor: pointer;
    font-size: 12px;
  }
}

.active {
  border-color: $blue-color;
  color: $blue-color;
}
