@import "~styles/variables.scss";

$blue-color: rgba(0, 99, 245, 1);

.tab {
  display: flex;
  justify-content: space-between;
  &__item {
    padding: 6px 10px;
    color: $gray-color;
    font-size: 12px;
    background: #f8f9fa;
    border: 0.5px solid #dfe2e4;
    border-radius: 20px;
    cursor: pointer;
  }
}

.active {
  color: $blue-color;
  border-color: $blue-color;
}
