@import "~styles/variables";

.tab {
  display: flex;
  justify-content: space-between;
}

.item {
  padding: 6px 10px;
  border: 0.5px solid #dfe2e4;
  background: #f8f9fa;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
}

.dark {
  border: 0.5px solid $dark-border-color;
  background: $dark-card-color;
  color: $dark-secondary-text-color;

  &.active {
    border: 0.5px solid $dark-active-color;
    color: $dark-active-color;
  }
}

.light {
  border: 0.5px solid #dfe2e4;
  background: #f8f9fa;
  color: $gray-color;

  &.active {
    border: 0.5px solid $light-active-color;
    color: $light-active-color;
  }
}
