@import '../../styles/variables.scss';

.coin-list{

    &-search{
        margin-bottom: 34px;
    }
    
    &__item{
        margin-bottom: 8px;
    }



    &__link{
        color: $black-color;
        :visited{
            color: $black-color;
        }
        
    }
}