@import '../../styles/variables.scss';

.coin-list-page{
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;

    &__dropdown{
        position: absolute;
        right: -100px; top:8px;
        width: 100px;
    }

    &__search{
        margin-bottom: 34px;
    }
}