.favourites {
  width: 25px;
  height: 25px;
  background-image: url("~images/Star-icon.svg");
  border: none;
  background-color: transparent;
  z-index: 10;
}
.active {
  background-image: url("~images/Star-icon__focus.svg");
}
