@import "~styles/variables";

* {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  max-width: 343px;
  padding: 15px 15px;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  cursor: pointer;

  &:hover {
    background-color: gainsboro;
  }
}

.img {
  display: block;
  width: 40px;
  height: 40px;
  align-self: center;
  object-fit: cover;
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100px;
  font-size: 16px;
}

.subtitle {
  padding: 0;
  margin: 0;
  color: $gray-color;
  font-size: 12px;
}

.chart {
  width: 50px;
  height: 25px;
}

.priceBox {
  display: flex;
  flex-direction: column;
}

.price {
  width: 75px;
  text-align: right;
}

.percent {
  margin-top: 5px;
  font-size: 10px;
  text-align: right;
}
