@import "./styles/fonts";

body {
  position: relative;
  width: 375px;
  padding: 15px 0;
  margin: 0 auto;
  font-family: "Circular Std", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

html {
  overflow-y: scroll;
}
